.dot {
    cursor: pointer;
    transition: width 0.6s;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(71,98,255,0.74);
    border-radius: 20px;
    display: inline-block;
    outline: none;
}
.dot-list {
    margin: 20px 0;
}