$font_all: 14px;    // Шрифт всей страницы
$font_head_sec: 16px;   // Шрифт для второго блока header
$font_h1: 60px;    // Шрифт для заголовка h1
$font_h2_name: 40px;    // Шрифт для h2
$font_input_text: 16px;
$font_h2_adapt: 25px;   // Шрифт для адаптации h2 in form
$font_h1_adapt: 30px;   // Шрифт для адаптации h1 in main
